<!DOCTYPE html>
<html>
<head>
    <title th:text="${household.fullName + ' ' + household.surname}"> Household Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Household</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${household.fullName + ' ' + household.surname}"/>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <h2>Details</h2>

                <p>
                    <label>Village: </label> <span th:text="${household.village}"/><br/>
                    <label>Id Number: </label> <span th:text="${household.idNumber}"/><br/>
                    <label>Name: </label> <span
                        th:text="${household.title + ' ' + household.fullName + ' ' + household.surname}"/><br/>
                    <label>Stand No: </label> <span th:text="${household.standNo}"/><br/>
                    <label>Ward Number: </label> <span th:text="${household.wardNumber}"/><br/>
                    <label>Levy Amount: </label> <span th:text="${household.levyAmount}"/>
                </p>
            </div>

            <div class="col-lg-6">
                <h2>Postal Address</h2>

                <p>
                    <span th:text="${household.postalAddress.street}"/><br/>
                    <span th:text="${household.postalAddress.suburb}"/><br/>
                    <span th:text="${household.postalAddress.city}"/><br/>
                    <span th:text="${household.postalAddress.postalCode}"/>
                </p>
            </div>
        </div>


        <div class="tab">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#dependants" data-toggle="tab">Dependants</a></li>
                <li><a href="#levies" data-toggle="tab">Levies</a></li>
            </ul>
        </div>
        <div class="col-lg-12 tab-content">
            <div class="panel panel-default tab-pane active" id="dependants">
                <div class="panel-heading">
                    <h2>Dependants</h2>
                </div>
                <div class="panel panel-body">
                    <a th:href="@{'/household/dependant/create/' + ${household.idNumber}}">
                        <button class="btn btn-sm">Add Dependant</button>
                    </a><br /><br />

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id Number</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Occupation</th>
                            <th>Relationship To Owner</th>
                            <th>Details</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dependant : ${dependants}">
                            <td th:text="${dependant.idNumber}">dependant id number</td>
                            <td th:text="${dependant.surname + ' ' + dependant.name}">dependant name</td>
                            <td th:text="${dependant.gender}">dependant gender</td>
                            <td th:text="${dependant.occupation}">dependant occupation</td>
                            <td th:text="${dependant.relationshipToOwner}">dependant relationship to owner</td>
                            <td>
                                <a th:href="@{'/household/dependant/details/'+${dependant.idNumber}}">
                                    <button class="btn btn-sm">Details</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{'/household/dependant/update/'+${dependant.idNumber}}">
                                    <button class="btn btn-sm">Update</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default tab-pane" id="levies">
                <div class="panel-heading">
                    <h2>Levies</h2>
                </div>
                <div class="panel panel-body">
                    <a th:href="@{'/household/levy/create/' + ${household.idNumber}}">
                        <button class="btn btn-sm">Add Levy</button>
                    </a><br /><br />

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date Paid</th>
                            <th>Details</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="levy : ${levies}">
                            <td th:text="${levy.name}">levy name</td>
                            <td th:text="${levy.amount}">levy amount</td>
                            <td th:text="${#joda.format(levy.dateAdded, 'dd/MM/YYYY')}">Date Paid</td>
                            <td>
                                <a th:href="@{'/household/levy/details/'+${levy.id}}">
                                    <button class="btn btn-sm">Details</button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{'/household/levy/update/'+${levy.id}}">
                                    <button class="btn btn-sm">Update</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>