<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Update Household</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${household.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Management System Household</div>
            <div class="panel-body">
                Update House Hold
            </div>
            <form th:action="@{/household/update}" method="post"
                  th:object="${household}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect date</p>

                <div class="form-group">
                    <label for="villages">Villages</label>
                    <select name="village" id="villages" class="form-control">
                        <option th:each="village : ${villages}" th:value="${village.name}" th:text="${village.name}" />
                    </select>
                </div>

                <div class="form-group">
                    <label for="IdNumber">Code</label>
                    <input type="text" class="form-control" id="IdNumber" th:field="*{idNumber}"
                           placeholder="IdNumber"/>

                    <p th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"
                       class="text-danger"> Incorrect Id Number</p>
                </div>
                <div class="form-group">
                    <label for="Title">Title</label>

                    <input type="text" class="form-control" id="Title" th:field="*{title}"
                           placeholder="Title"/>

                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                       class="text-danger"> Incorrect Title</p>
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>

                    <input type="text" class="form-control" id="surname" th:field="*{surname}"
                           placeholder="Surname"/>

                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                       class="text-danger"> Incorrect Surname</p>
                </div>
                <div class="form-group">
                    <label for="fullName">Full Name</label>

                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}"
                           placeholder="Full Name"/>

                    <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                       class="text-danger"> Incorrect Full Name</p>
                </div>
                <div class="form-group">
                    <label for="standNo">Stand No</label>

                    <input type="text" class="form-control" id="standNo" th:field="*{standNo}"
                           placeholder="Stand No"/>

                    <p th:if="${#fields.hasErrors('standNo')}" th:errors="*{standNo}"
                       class="text-danger"> Incorrect Stand No</p>
                </div>
                <div class="form-group">
                    <label for="postalAddress.street">Street</label>

                    <input type="text" class="form-control" id="postalAddress.street"
                           th:field="*{postalAddress.street}"
                           placeholder="Postal Address Street"/>

                    <p th:if="${#fields.hasErrors('postalAddress.street')}" th:errors="*{postalAddress.street}"
                       class="text-danger"> Incorrect Street Address</p>

                    <label for="postalAddress.street">Suburb</label>

                    <input type="text" class="form-control" id="postalAddress.suburb"
                           th:field="*{postalAddress.suburb}"
                           placeholder="Postal Address Suburb "/>

                    <p th:if="${#fields.hasErrors('postalAddress.suburb')}" th:errors="*{postalAddress.suburb}"
                       class="text-danger"> Incorrect Street Address</p>
                    <label for="postalAddress.street">City</label>

                    <input type="text" class="form-control" id="physicalAddress.city"
                           th:field="*{postalAddress.city}"
                           placeholder="Postal Address City "/>

                    <p th:if="${#fields.hasErrors('postalAddress.city')}" th:errors="*{postalAddress.city}"
                       class="text-danger"> Incorrect Street Address</p>
                    <label for="postalAddress.postalCode">Postal Code</label>

                    <input type="text" class="form-control" id="postalAddress.postalCode"
                           th:field="*{postalAddress.postalCode}"
                           placeholder="Postal Address Postal Code"/>

                    <p th:if="${#fields.hasErrors('postalAddress.postalCode')}"
                       th:errors="*{postalAddress.postalCode}"
                       class="text-danger"> Incorrect Street Address</p>
                </div>
                <!--<div class="form-group">
                    <label>Have Access to Water</label>

                    <input type="radio" class="form-control"
                           th:field="*{isAccessToElectricity}" />Yes
                    <input type="radio" class="form-control"
                           th:field="*{isAccessToElectricity}" />No
                </div>
                <div class="form-group">
                    <label>Have Access to Water</label>

                    <input type="radio" class="form-control"
                           th:field="*{isAccessToWater}" />Yes
                    <input type="radio" class="form-control"
                           th:field="*{isAccessToWater}" />No
                </div>-->
                <div class="form-group">
                    <label for="wardNumber">Ward Number</label>

                    <input type="text" class="form-control" id="wardNumber" th:field="*{wardNumber}"
                           placeholder="Ward Number"/>

                    <p th:if="${#fields.hasErrors('wardNumber')}" th:errors="*{wardNumber}"
                       class="text-danger">Incorrect Ward Number</p>
                </div>
                <div class="form-group">
                    <label for="levyAmount">Levy Amount</label>

                    <input type="text" class="form-control" id="levyAmount" th:field="*{levyAmount}"
                           placeholder="Levy Amount"/>

                    <p th:if="${#fields.hasErrors('levyAmount')}" th:errors="*{levyAmount}"
                       class="text-danger"> Incorrect Levy Amount</p>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Update HouseHold</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna  Technologies</div>
</div>
</body>
</html>