body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.navbar-inverse {
    background-color: #000000;
    border-color: rgb(8, 8, 8);
}

.table th {
    background-color: #3276B1;
    color: #fff;
}

.btn-sm {
    background-color: #3276B1;
}

.jumbotron {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 3px;
}

.border-box {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.tab {
    padding-top: 12px;
    clear: both;
    padding-bottom: 12px;
}

ul {
    list-style-type: none;
}