<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Create Levy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/datepicker3.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/datepicker3.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-1.9.1.min.js" th:src="@{/resources/js/jquery-1.9.1.min.js}"></script>
    <!--<script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>-->


    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/bootstrap-datepicker.js" th:src="@{/resources/js/bootstrap-datepicker.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${levy.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Management System Levy</div>
            <div class="panel-body">
                Add Levy
            </div>
            <form th:action="@{'/household/levy/create/' + ${levy.householdIdNumber}}" method="post"
                  th:object="${levy}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect date</p>

                <div class="form-group">
                    <label for="name">Name</label>

                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Name"/>

                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="text-danger"> Incorrect Name</p>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>

                    <input type="text" class="form-control" id="amount" th:field="*{amount}"
                           placeholder="Amount"/>

                    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                       class="text-danger"> Incorrect Amount</p>
                </div>
                <div class="form-group">
                    <label for="dateAdded">Date Added</label>

                    <div class="input-append date">
                        <!--<input type="text" value="10-05-2003" class="form-control" id="dateAdded" th:field="*{dateAdded}"
                               placeholder="Date Added">-->
                        <input type="text" class="form-control" id="dateAdded" />
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>

                    <p th:if="${#fields.hasErrors('dateAdded')}" th:errors="*{dateAdded}"
                       class="text-danger"> Incorrect Date Added</p>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Add Levy</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna  Technologies</div>
</div>

<script>
    $('#dateAdded').datepicker({
        format: "dd/mm/yyyy"
    });
</script>
</body>
</html>