<!DOCTYPE html>
<html>
<head>
    <title th:text="${levy.name}"> Levy Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li>Household</li>
        <li class="active">Levy</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${levy.name}"/>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <h2>Details</h2>

                <p>
                    <label>Name: </label> <span th:text="${levy.name}"/><br/>
                    <label>Amount: </label> <span th:text="${levy.amount}"/><br/>
                    <label>Date Paid: </label> <span th:text="${#joda.format(levy.dateAdded, 'dd/MM/YYYY')}"/><br/>
                </p>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>