<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">View Households</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div>
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading text-center">View Households</div>
            <div class="panel-body">
                <p>Households</p>

                <div class="btn-toolbar" role="toolbar">
                    <a th:href="@{/household/create}">
                        <button class="btn btn-sm">Add HouseHold</button>
                    </a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>IdNumber</th>
                    <th>Name</th>
                    <th>Position Type</th>
                    <th>Contact Details</th>
                    <th>Details</th>
                    <th>Updates</th>
                </tr>
                <tbody class="table-striped">
                <tr th:each="household : ${households}">
                    <td th:text="${household.idNumber}">Id Number</td>
                    <td th:text="${household.title + ' ' + household.surname + ' '+ household.fullName}">headman</td>
                    <td th:text="${household.standNo}">Stand No</td>
                    <td th:text="${household.wardNumber}">Ward Number</td>
                    <td>
                        <a th:href="@{'/household/details/'+${household.idNumber}}">
                            <button class="btn btn-sm">Details</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/household/update/'+${household.idNumber}}">
                            <button class="btn btn-sm">Update</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>