<!DOCTYPE html>
<html>
<head>
    <title th:text="${village.name}"> Village Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Village</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${village.name}"/>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h2>Details</h2>

                <p>
                    <label>Name: </label> <span th:text="${village.name}"/><br/>
                    <label>Headman: </label> <span th:text="${village.headman}"/><br/>
                    <label>Position Type: </label> <span th:text="${village.positionType}"/><br/>
                    <label>Contact Details: </label> <span th:text="${village.contactDetails}"/>
                </p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id Number</th>
                        <th>Title</th>
                        <th>Surname</th>
                        <th>Fullname</th>
                        <th>Stand No</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="household : ${households}">
                        <td th:text="${household.idNumber}">household id number</td>
                        <td th:text="${household.title}">household title</td>
                        <td th:text="${household.surname}">household name</td>
                        <td th:text="${household.fullName}">household gender</td>
                        <td th:text="${household.standNo}">household occupation</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>