<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Update Village</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${village.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Mphahlele Village</div>
            <div class="panel-body">
                Update Village
            </div>
            <form th:action="@{'/village/update/'+${village.id}}" method="post"
                  th:object="${village}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect data</p>
                <input type="hidden" th:field="*{id}" />

                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Name"/>

                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="text-danger"> Incorrect Name</p>
                </div>
                <div class="form-group">
                    <label for="headman">Head Man</label>
                    <input type="text" class="form-control" id="headman" th:field="*{headman}"
                           placeholder="headman"/>

                    <p th:if="${#fields.hasErrors('headman')}" th:errors="*{headman}"
                       class="text-danger"> Incorrect Head Man</p>
                </div>
                <div class="form-group">
                    <label for="positionType">Position Type</label>
                    <input type="text" class="form-control" id="positionType" th:field="*{positionType}"
                           placeholder="Position Type"/>

                    <p th:if="${#fields.hasErrors('positionType')}" th:errors="*{positionType}"
                       class="text-danger"> Incorrect Position Type</p>
                </div>
                <div class="form-group">
                    <label for="contactDetails">Contact Details</label>
                    <input type="text" class="form-control" id="contactDetails" th:field="*{contactDetails}"
                           placeholder="Contact Details"/>

                    <p th:if="${#fields.hasErrors('contactDetails')}" th:errors="*{contactDetails}"
                       class="text-danger">Incorrect Contact Details</p>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Update Village</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>