<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <form class="form-narrow form-horizontal" action="/j_spring_security_check" method="post"
              th:action="@{/j_spring_security_check}">
            <th:block th:if="${param.error != null}">
                <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">
                    Alert
                </div>
            </th:block>
            <h1>Mphahlele</h1>
            <fieldset>
                <legend>Please Sign In</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" name="j_username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>

                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                               name="j_password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_spring_security_remember_me"/> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Rixma Technologies</div>
</div>
</body>
</html>