<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Create Headman</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${headman.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Management System Headman</div>
            <div class="panel-body">
                Add Headman
            </div>
            <form th:action="@{/headman/create}" method="post"
                  th:object="${headman}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect date</p>

                <div class="form-group">
                    <label for="IdNumber">Id Number</label>
                    <input type="text" class="form-control" id="IdNumber" th:field="*{idNumber}"
                           placeholder="IdNumber"/>

                    <p th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"
                       class="text-danger">Incorrect Id Number</p>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>

                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Name"/>

                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="text-danger"> Incorrect Name</p>
                </div>
                <div class="form-group">
                    <label for="unitNumber">Unit Number</label>

                    <input type="text" class="form-control" id="unitNumber" th:field="*{unitNumber}"
                           placeholder="unit Number"/>

                    <p th:if="${#fields.hasErrors('unitNumber')}" th:errors="*{unitNumber}"
                       class="text-danger">Incorrect Unit Number</p>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <ul>
                        <li th:each="myGender: ${genders}">
                            <input type="radio" th:field="*{gender}" th:value="${myGender}" />
                            <label th:text="${myGender}">Gender</label>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="wardNumber">Ward Number</label>

                    <input type="text" class="form-control" id="wardNumber" th:field="*{wardNumber}"
                           placeholder="Ward Number"/>

                    <p th:if="${#fields.hasErrors('wardNumber')}" th:errors="*{wardNumber}"
                       class="text-danger">Incorrect Ward Number</p>
                </div>
                <div class="form-group">
                    <label for="postalAddress.street">Street</label>

                    <input type="text" class="form-control" id="postalAddress.street"
                           th:field="*{postalAddress.street}"
                           placeholder="Postal Address Street"/>

                    <p th:if="${#fields.hasErrors('postalAddress.street')}" th:errors="*{postalAddress.street}"
                       class="text-danger"> Incorrect Street Address</p>

                    <label for="postalAddress.street">Village</label>

                    <input type="text" class="form-control" id="postalAddress.suburb"
                           th:field="*{postalAddress.suburb}"
                           placeholder="Postal Address Village "/>

                    <p th:if="${#fields.hasErrors('postalAddress.suburb')}" th:errors="*{postalAddress.suburb}"
                       class="text-danger"> Incorrect Village</p>
                    <label for="postalAddress.street">City</label>

                    <input type="text" class="form-control" id="physicalAddress.city"
                           th:field="*{postalAddress.city}"
                           placeholder="Postal Address City "/>

                    <p th:if="${#fields.hasErrors('postalAddress.city')}" th:errors="*{postalAddress.city}"
                       class="text-danger"> Incorrect Street Address</p>
                    <label for="postalAddress.postalCode">Postal Code</label>

                    <input type="text" class="form-control" id="postalAddress.postalCode"
                           th:field="*{postalAddress.postalCode}"
                           placeholder="Postal Address Postal Code"/>

                    <p th:if="${#fields.hasErrors('postalAddress.postalCode')}"
                       th:errors="*{postalAddress.postalCode}"
                       class="text-danger"> Incorrect Street Address</p>
                </div>
                <!--<div class="form-group">
                    <label>Have Access to Water</label>

                    <input type="radio" class="form-control"
                           th:field="*{isAccessToElectricity}" />Yes
                    <input type="radio" class="form-control"
                           th:field="*{isAccessToElectricity}" />No
                </div>
                <div class="form-group">
                    <label>Have Access to Water</label>

                    <input type="radio" class="form-control"
                           th:field="*{isAccessToWater}" />Yes
                    <input type="radio" class="form-control"
                           th:field="*{isAccessToWater}" />No
                </div>-->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Add Headman</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna  Technologies</div>
</div>
</body>
</html>