<!DOCTYPE html>
<html>
<head>
    <title th:text="${headman.name}"> Headman Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Headman</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${headman.name}"/>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <h2>Details</h2>

                <p>
                    <label>Id Number: </label> <span th:text="${headman.idNumber}"/><br/>
                    <label>Name: </label> <span th:text="${headman.name}"/><br/>
                    <label>Gender: </label> <span th:text="${headman.gender}"/><br/>
                    <label>Unit Number: </label> <span th:text="${headman.unitNumber}"/>
                    <label>Ward Number: </label> <span th:text="${headman.wardNumber}"/>
                </p>
            </div>

            <div class="col-lg-6">
                <h2>Postal Address</h2>

                <p>
                    <span th:text="${headman.postalAddress.street}"/><br/>
                    <span th:text="${headman.postalAddress.suburb}"/><br/>
                    <span th:text="${headman.postalAddress.city}"/><br/>
                    <span th:text="${headman.postalAddress.postalCode}"/>
                </p>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>