<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">View Headmen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div>
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading text-center">View Headmen</div>
            <div class="panel-body">
                <!--<p>Headmen</p>-->

                <div class="btn-toolbar" role="toolbar">
                    <a th:href="@{/headman/create}">
                        <button class="btn btn-sm">Add Headman</button>
                    </a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>Id Number</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Unit Number</th>
                    <th>Ward Number</th>
                    <th>Details</th>
                    <th>Updates</th>
                </tr>
                <tbody class="table-striped">
                <tr th:each="headman : ${headmen}">
                    <td th:text="${headman.idNumber}">Id Number</td>
                    <td th:text="${headman.name}">Name</td>
                    <td th:text="${headman.gender}">Gender</td>
                    <td th:text="${headman.unitNumber}">Unit Number</td>
                    <td th:text="${headman.wardNumber}">Ward Number</td>
                    <td>
                        <a th:href="@{'/headman/details/'+${headman.idNumber}}">
                            <button class="btn btn-sm">Details</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/headman/update/'+${headman.idNumber}}">
                            <button class="btn btn-sm">Update</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>