<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Create Church</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${church.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Management System Headman</div>
            <div class="panel-body">
                Add Church
            </div>
            <form th:action="@{/church/create}" method="post"
                  th:object="${church}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect date</p>

                <div class="form-group">
                    <label for="applicantIdentityNumber">Id</label>
                    <input type="text" class="form-control" id="applicantIdentityNumber" th:field="*{applicantIdentityNumber}"
                           placeholder="Applicant Identity Number"/>

                    <p th:if="${#fields.hasErrors('applicantIdentityNumber')}" th:errors="*{applicantIdentityNumber}"
                       class="text-danger">Incorrect Applicant Id Number</p>
                </div>
                <div class="form-group">
                    <label for="applicantSurname">Applicant Surname</label>

                    <input type="text" class="form-control" id="applicantSurname" th:field="*{applicantSurname}"
                           placeholder="Applicant Surname"/>

                    <p th:if="${#fields.hasErrors('applicantSurname')}" th:errors="*{applicantSurname}"
                       class="text-danger"> Incorrect Applicant Surname</p>
                </div>
                <div class="form-group">
                    <label for="applicantName">Applicant Name</label>

                    <input type="text" class="form-control" id="applicantName" th:field="*{applicantName}"
                           placeholder="Applicant Name"/>

                    <p th:if="${#fields.hasErrors('applicantName')}" th:errors="*{applicantName}"
                       class="text-danger"> Incorrect Applicant Name</p>
                </div>
                <div class="form-group">
                    <label for="applicantAddress.street">Street</label>

                    <input type="text" class="form-control" id="applicantAddress.street"
                           th:field="*{applicantAddress.street}"
                           placeholder="Postal Address Street"/>

                    <p th:if="${#fields.hasErrors('applicantAddress.street')}" th:errors="*{applicantAddress.street}"
                       class="text-danger"> Incorrect Street Address</p>

                    <label for="applicantAddress.street">Suburb</label>

                    <input type="text" class="form-control" id="applicantAddress.suburb"
                           th:field="*{applicantAddress.suburb}"
                           placeholder="Postal Address Suburb "/>

                    <p th:if="${#fields.hasErrors('applicantAddress.suburb')}" th:errors="*{applicantAddress.suburb}"
                       class="text-danger"> Incorrect Street Address</p>
                    <label for="applicantAddress.street">City</label>

                    <input type="text" class="form-control" id="physicalAddress.city"
                           th:field="*{applicantAddress.city}"
                           placeholder="Postal Address City "/>

                    <p th:if="${#fields.hasErrors('applicantAddress.city')}" th:errors="*{applicantAddress.city}"
                       class="text-danger"> Incorrect Street Address</p>
                    <label for="applicantAddress.postalCode">Postal Code</label>

                    <input type="text" class="form-control" id="applicantAddress.postalCode"
                           th:field="*{applicantAddress.postalCode}"
                           placeholder="Postal Address Postal Code"/>

                    <p th:if="${#fields.hasErrors('applicantAddress.postalCode')}"
                       th:errors="*{applicantAddress.postalCode}"
                       class="text-danger"> Incorrect Street Address</p>
                </div>
                <div class="form-group">
                    <label for="nameOfChurch">Name Of Church</label>

                    <input type="text" class="form-control" id="nameOfChurch" th:field="*{nameOfChurch}"
                           placeholder="Name of Church"/>

                    <p th:if="${#fields.hasErrors('nameOfChurch')}" th:errors="*{nameOfChurch}"
                       class="text-danger">Incorrect Name of Church</p>
                </div>
                <div class="form-group">
                    <label for="place">Place</label>

                    <input type="text" class="form-control" id="place" th:field="*{place}"
                           placeholder="Place"/>

                    <p th:if="${#fields.hasErrors('place')}" th:errors="*{place}"
                       class="text-danger"> Incorrect Place</p>
                </div>
                <div class="form-group">
                    <label for="standNo">Stand No</label>

                    <input type="text" class="form-control" id="standNo" th:field="*{standNo}"
                           placeholder="Stand No"/>

                    <p th:if="${#fields.hasErrors('standNo')}" th:errors="*{standNo}"
                       class="text-danger">Incorrect Stand No</p>
                </div>
                <div class="form-group">
                    <label for="siteSize">Site Size</label>

                    <input type="text" class="form-control" id="siteSize" th:field="*{siteSize}"
                           placeholder="Site Size"/>

                    <p th:if="${#fields.hasErrors('standNo')}" th:errors="*{standNo}"
                       class="text-danger">Incorrect Site Size</p>
                </div>
                <div class="form-group">
                    <label for="chairPersonRemarks">Chairman's Remarks</label>

                    <input type="text" class="form-control" id="chairPersonRemarks" th:field="*{chairPersonRemarks}"
                           placeholder="Chairman's Remarks"/>

                    <p th:if="${#fields.hasErrors('chairPersonRemarks')}" th:errors="*{chairPersonRemarks}"
                       class="text-danger">Incorrect Chairman's Remarks</p>
                </div>
                <div class="form-group">
                    <label for="receiverRevenue.name">Receiver Revenue name</label>

                    <input type="text" class="form-control" id="receiverRevenue.name"
                           th:field="*{receiverRevenue.name}"
                           placeholder="Receiver Revenue Name"/>

                    <p th:if="${#fields.hasErrors('receiverRevenue.name')}" th:errors="*{receiverRevenue.name}"
                       class="text-danger"> Incorrect Receiver Name</p>

                    <label for="receiverRevenue.receiptNo">Receiver Revenue Receipt No</label>

                    <input type="text" class="form-control" id="receiverRevenue.receiptNo"
                           th:field="*{receiverRevenue.receiptNo}"
                           placeholder="Receiver Receipt No"/>

                    <p th:if="${#fields.hasErrors('receiverRevenue.receiptNo')}" th:errors="*{receiverRevenue.receiptNo}"
                       class="text-danger"> Incorrect Receiver Revenue No</p>

                    <label for="receiverRevenue.signature">Signature</label>

                    <input type="text" class="form-control" id="receiverRevenue.signature"
                           th:field="*{receiverRevenue.signature}"
                           placeholder="Signature"/>

                    <p th:if="${#fields.hasErrors('receiverRevenue.signature')}" th:errors="*{receiverRevenue.signature}"
                       class="text-danger"> Incorrect Signature</p>
                    <label for="receiverRevenue.date">Date</label>

                    <input type="text" class="form-control" id="receiverRevenue.date"
                           th:field="*{receiverRevenue.date}"
                           placeholder="Receiver Revenue Date"/>

                    <p th:if="${#fields.hasErrors('receiverRevenue.date')}"
                       th:errors="*{receiverRevenue.date}"
                       class="text-danger"> Incorrect Receiver Revenue Date</p>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Add Church</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna  Technologies</div>
</div>
</body>
</html>