<!DOCTYPE html>
<html>
<head>
    <title th:text="${church.applicantName + ' ' + church.applicantSurname}"> Church Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="active">church</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${church.applicantSurname + ' ' + church.applicantName}"/>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <h2>Details</h2>

                <p>
                    <label>Applicant Id Number: </label> <span th:text="${church.applicantIdentityNumber}"/><br/>
                    <label>Applicant Full Name: </label> <span th:text="${church.applicantSurname + ' ' + church.applicantName}"/><br/>
                    <label>Name of Church: </label> <span th:text="${church.nameOfChurch}"/><br/>
                    <label>Place: </label> <span th:text="${church.place}"/><br/>
                    <label>Stand No: </label> <span th:text="${church.standNo}"/>
                </p>
            </div>

            <div class="col-lg-6">
                <h2>Postal Address</h2>

                <p>
                    <span th:text="${church.applicantAddress.street}"/><br/>
                    <span th:text="${church.applicantAddress.suburb}"/><br/>
                    <span th:text="${church.applicantAddress.city}"/><br/>
                    <span th:text="${church.applicantAddress.postalCode}"/>
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Receiver Revenue</h2>

                <p>
                    <span th:text="${church.receiverRevenue.name}"/><br/>
                    <span th:text="${church.receiverRevenue.receiptNo}"/><br/>
                    <span th:text="${church.receiverRevenue.signature}"/><br/>
                    <span th:text="${church.receiverRevenue.date}"/>
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Chair Person's Remarks</h2>
                <p>
                    <span th:text="${church.chairPersonRemarks}" />
                </p>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>