<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">View Churches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div>
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading text-center">View Churches</div>
            <div class="panel-body">
                <!--<p>Headmen</p>-->

                <div class="btn-toolbar" role="toolbar">
                    <a th:href="@{/church/create}">
                        <button class="btn btn-sm">Add Church</button>
                    </a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>Applicant Id Number</th>
                    <th>Applicant Name</th>
                    <th>Applicant Surname</th>
                    <th>Name of Church</th>
                    <th>Stand Number</th>
                    <th>Site Size</th>
                    <th>Details</th>
                    <th>Updates</th>
                </tr>
                <tbody class="table-striped">
                <tr th:each="church : ${churches}">
                    <td th:text="${church.applicantIdentityNumber}">Applicant Id Number</td>
                    <td th:text="${church.applicantName}">Applicant Name</td>
                    <td th:text="${church.applicantSurname}">Applicant Surname</td>
                    <td th:text="${church.nameOfChurch}">Name of Church</td>
                    <td th:text="${church.standNo}">Stand Number</td>
                    <td th:text="${church.siteSize}">Site Size</td>
                    <td>
                        <a th:href="@{'/church/details/'+${church.applicantIdentityNumber}}">
                            <button class="btn btn-sm">Details</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/church/update/'+${church.applicantIdentityNumber}}">
                            <button class="btn btn-sm">Update</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>