<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Add Dependant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="text-center">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${#fields.hasErrors('${dependant.*}')}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert ('danger', 'Error(s) occurred while saving!')">
                &nbsp;</div>
        </th:block>
        <div class="panel panel-default">
            <div class="panel-heading">Management System Household</div>
            <div class="panel-body">
                Add HouseHold Dependant
            </div>
            <form th:action="@{'/household/dependant/create/' + ${dependant.householdIdNumber}}" method="post"
                  th:object="${dependant}" class="form-narrow text-left">
                <p th:if="${#fields.hasErrors('*')}" class="text-danger" th:errors="*{*}">Incorrect date</p>
                <input type="hidden" th:field="*{householdIdNumber}" />
                <div class="form-group">
                    <label for="idNumber">Code</label>
                    <input type="text" class="form-control" id="idNumber" th:field="*{idNumber}"
                           placeholder="ID Number"/>

                    <p th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"
                       class="text-danger"> Incorrect Id Number</p>
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>

                    <input type="text" class="form-control" id="surname" th:field="*{surname}"
                           placeholder="Surname"/>

                    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                       class="text-danger"> Incorrect Surname</p>
                </div>
                <div class="form-group">
                    <label for="name">First Name</label>

                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="First Name"/>

                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="text-danger"> Incorrect First Name</p>
                </div>
                <div class="form-group">
                    <ul>
                        <li th:each="myGender: ${genders}">
                            <input type="radio" th:field="*{gender}" th:value="${myGender}" />
                            <label th:text="${myGender}">Gender</label>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="occupation">Occupation</label>

                    <input type="text" class="form-control" id="occupation" th:field="*{occupation}"
                           placeholder="Occupation"/>

                    <p th:if="${#fields.hasErrors('occupation')}" th:errors="*{occupation}"
                       class="text-danger">Incorrect Occupation</p>
                </div>
                <div class="form-group">
                    <label for="relationshipToOwner">Relationship to Owner</label>

                    <input type="text" class="form-control" id="relationshipToOwner" th:field="*{relationshipToOwner}"
                           placeholder="Relationship to Owner"/>

                    <p th:if="${#fields.hasErrors('relationshipToOwner')}" th:errors="*{relationshipToOwner}"
                       class="text-danger"> Incorrect Relationship to Owner</p>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-sm">Add HouseHold Dependant</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna  Technologies</div>
</div>
</body>
</html>