<!DOCTYPE html>
<html>
<head>
    <title th:text="${dependant.name + ' ' + dependant.surname}"> Dependant Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../jquery-2.0.0.min.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Dependant</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="jumbotron">
                <h1 th:text="${dependant.name + ' ' + dependant.surname}"/>
            </div>
        </div>
        <div class="panel-body">
            <div>
                <h2>Details</h2>

                <p>
                    <label>Id Number: </label> <span th:text="${dependant.idNumber}"/><br/>
                    <label>Name: </label> <span
                        th:text="${dependant.name + ' ' + dependant.surname}"/><br/>
                    <label>Gender: </label> <span th:text="${dependant.gender}"/><br/>
                    <label>Occupation: </label> <span th:text="${dependant.occupation}"/><br/>
                    <label>Relationship to Owner: </label> <span th:text="${dependant.relationshipToOwner}"/>
                </p>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: footer">&copy; 2014 Nguni and Anna Technologies</div>
</div>
</body>
</html>